
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.header {
	margin-bottom: 30px;
}
.main {
}
.aricle {
	font-family: "Lato";
	font-size: 16px;
	color: #424551;
	margin-bottom: 40px;
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
}
.aricle-about:not(:last-child) {
	margin-bottom: 118px;
}
.aricle-about__title {
	font-size: 46px;
	font-weight: 900;
	line-height: 130%; 
	color: #1E212C;
}
.aricle-about__title:not(:last-child) {
	margin-bottom: 40px;
}
.aricle-about__text {
	line-height: 160%;
}
.aricle-about__text:not(:last-child) {
	margin-bottom: 48px;
}
.aricle-about__list-title {
	color: #1E212C;
	font-size: 28px;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 24px;
}
.aricle-about__list {
}
.aricle-about__item {
	padding-left: 32px;
	line-height: 160%;
	background: url('../img/icons/check.svg') 0 5px no-repeat;
	min-height: 38px;
}
.aricle-about__item:not(:last-child) {
	margin-bottom: 4px;
}
.article-fisher {
	margin-bottom: 40px;
}
.article-fisher__subtitle {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.article-fisher__subtitle:not(:last-child) {
	margin-bottom: 8px;
}
.article-fisher__title {
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;
	color: #1E212C;
}
.article-fisher__title:not(:last-child) {
	margin-bottom: 8px;
}
.article-fisher__position {
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;
	color: #787A80;
}
.article-fisher__position:not(:last-child) {
	margin-bottom: 32px;
}
.article-fisher__list {
	font-weight: 700;
	line-height: 160%;
	color: #424551;
}
.article-fisher__list:not(:last-child) {
	margin-bottom: 34px;
}
.article-fisher__item1::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icons/Star.svg') 0 0 no-repeat;
	margin-right: 8px;
}
.article-fisher__item2::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icons/Play.svg') 0 0 no-repeat;
	margin-right: 8px;
}
.article-fisher__item3::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icons/Profile.svg') 0 0 no-repeat;
	margin-right: 8px;
}
.article-fisher__item1:not(:last-child) {
	margin-bottom: 4px;
}
.article-fisher__item2:not(:last-child) {
	margin-bottom: 4px;
}
.article-fisher__item3:not(:last-child) {
	margin-bottom: 4px;
}
.article-fisher__text {
	line-height: 160%;
}
/* ?================================================================ */
.practice {
	margin-bottom: 40px;
}
.practice__hover {
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
	display: inline-block;
	margin-right: 20px;
}
.practice__hover:hover {
	color: red;
}
.practice__active {
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
	display: inline-block;
}
.practice__active:active {
	color: red;
}
.practice__visited-list li{
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
}
.practice__visited-list li:not(:last-child) {
	margin-bottom: 5px;
}
.practice__visited-list li a:visited {
	color: red;
}
.practice__visited-list:not(:last-child) {
	margin-bottom: 15px;
}
.practice__focus {
	color: blue;
	font-size: 34px;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 20px;
}
.practice__focus:focus {
	outline: 3px solid red;
}
.practice__target {
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
	display: inline-block;
}
.practice__target-block {
	font-size: 20px;
	padding: 15px;
	background-color: aqua;
	display: none;
	margin-bottom: 50px;
}
.practice__target-block:target{
	display: block;
}
.practice__first-child p:first-child {
	background-color: blue;
	color: #fff;
}
.practice__first-child:not(:last-child) {
	margin-bottom: 15px;
}
.practice__last-child p:last-child {
	background-color: blue;
	color: #fff;
}
.practice__last-child {
	margin-bottom: 15px;
}
.practice__first-of-type div:first-of-type {
	background-color: blue;
	color: #fff;
}
.practice__first-of-type {
	margin-bottom: 15px;
}
.practice__last-of-type p:last-of-type {
	background-color: blue;
	color: #fff;
}
.practice__last-of-type {
	margin-bottom: 15px;
}
.practice__nth-child p:nth-child(2) {
	background-color: blue;
	color: #fff;
}
.practice__nth-child {
	margin-bottom: 15px;
}
.practice__nth-child-odd div:nth-child(odd) {
	background-color: blue;
	color: #fff;
}
.practice__nth-child-odd {
	margin-bottom: 15px;
}
.practice__nth-child-even div:nth-child(even) {
	background-color: blue;
	color: #fff;
}
.practice__nth-child-even {
	margin-bottom: 50px;
}

.practice__before::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 15px;
	background: url('../img/icons/Star.svg') 0 0 no-repeat;
	transition: all 0.8s ease 0s;
}
.practice__before {
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 15px;
}
.practice__before:hover {
	color: red;
}
.practice__before:hover::before {
	transform: scale(1.5);
}
.practice__after {
	color: blue;
	font-size: 34px;
	margin-bottom: 15px;
	margin-right: 20px;
	border: 1px solid blue;
}
.practice__after::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icons/Profile.svg') 0 0 no-repeat;
	margin-left: 15px;
	transition: all 0.8s ease 0s;
}
.practice__after:hover::after {
	transform: scale(2);
}
.practice__after:hover {
	color: red;
	text-decoration: underline;
	background-color: aqua;
}

/* ?================================================================ */
.game__block {
	height: 400px;
}
.game__item1 {
	margin-left: 100px;
	width: 50px;
	height: 50px;
	background-color: blue;
	padding-top: 40px;
}
.game__item2 {
	width: 400px;
	height: 20px;
	background-color: blue;
	display: none;
}
.game__item1:hover .game__item2{
	display: block;
}
.game__item3 {
	margin-left: 350px;
	width: 50px;
	height: 50px;
	background-color: blue;
	padding-top: 40px;
	display: none;
}
.game__item2:hover .game__item3{
	display: block;
}
.game__item4 {
	padding-top: 20px;
	width: 200px;
	height: 20px;
	background-color: blue;
	margin-left: -150px;
	display: none;
}
.game__item3:hover .game__item4{
	display: block;
}
.game__item5 {
	padding-top: 40px;
	width: 20px;
	height: 50px;
	background-color: blue;
	display: none;
}
.game__item4:hover .game__item5{
	display: block;
}
.game__item6 {
	margin-left: -15px;
	width: 100px;
	height: 20px;
	background-color: red;
	color: #fff;
	text-align: center;
	display: none;
}
.game__item5:hover .game__item6{
	display: block;
}
/* ?================================================================ */
h3 {
	font-size: 30px;
	margin-bottom: 20px;
	color: green;
	text-decoration: underline;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	color: green;
	margin-bottom: 20px;
}
.header ul li {
	color: green;
}
.header ul li:not(:last-child) {
	margin-bottom: 5px;
}